<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input id="film-name" class="input" type="text" placeholder="Film Name">
  </p>
</div>
<div class="field">
<textarea id="film-description" class="textarea" placeholder="Film Description"></textarea>

<div class="field mt-4">
  <p class="control">
    <button class="button is-success">
      Submit
    </button>
  </p>
</div>