<div class="field">
    <input id="film-name" class="input" type="text" placeholder="Film Name">
</div>
<div class="field">
  <textarea id="film-description" class="textarea" placeholder="Film Description"></textarea>
</div>
<div class="field mt-4">
  <p class="control">
    <button class="button is-success">
      Submit
    </button>
  </p>
</div>

<script src="./js/createmovie.js"></script>