<div class="container has-text-centered pb-3">
  <p class="title">Liked Films</p>
</div>
<div class="box">
{{#each likes as |like|}}
  <div class="columns is-mobile is-centered is-vcentered">
    <div class="column">
      <img src={{like.image_name}} alt="">
    </div>
    <div class="column is-flex-direction-row">
      <span class="title">{{like.movie_id}}</span><br>
      <span class="subtitle">{{like.user_id}}</span><br>
      <button class="button is-danger is-light">Unlike</button>
    </div>
  </div>
{{/each}}
</div>